<!-- footer -->


<section class="footer">
  <div class="footer-content">

    <footer class=" body-font">
      <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col ">

        <div class="row md:pr-20 -mb-10  text-left order-first">

          <div class="col-lg-3 col-md-6 w-full px-4">

            <img src='images/logo.png' class='logo my-2'></img>
            <h4 class="title-font font-medium text-white-900 tracking-widest text-sm text-left uppercase my-1">Address</h4>
            <div class="">
              <li class="" style="line-height: 1.2;">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </p>
              </li>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 w-full px-4">
            <h2 class="title-font font-medium text-white-900 tracking-widest text-sm mb-2 uppercase">Quick Links</h2>
            <nav class="list-none mb-10">
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Home</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Login</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">My Bookings</a>
              </li>
              <li>
                <a href='/enroll-as-celebs' class="text-white-600 hover:text-white-800 uppercase">Enroll As Celebrity</a>
              </li>
            </nav>
          </div>
          <div class="col-lg-3 col-md-6 w-full px-4">
            <h2 class="title-font font-medium text-white-900 tracking-widest text-sm mb-2 uppercase">Follow Us</h2>
            <nav class="list-none mb-10">
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Facebook</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Instagram</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Twitter</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Google</a>
              </li>
            </nav>
          </div>
          <div class="col-lg-3 col-md-6 w-full px-4">
              <div class="list-none">
                <li>
                  <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
                </li>
                <li>
                  <a href="#" class="btn btn-store">
                    <div class="d-flex">
                    <span class="fa fa-apple fa-2x pull-left"></span> 
                    <span class="btn-caption mt-2 mx-2">App Store</span>
                  </div>
                  </a>
                </li>
              </div>
          </div>


        </div>
      </div>
    </footer>
  </div>
</section>

<script src="js/jquery-plugins.js"></script>
<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="plugin/owl-carousel/dist/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 5
        }
      }
    })
  });
</script>





</body>

</html>