<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="plugin/owl-carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/hiw.css">

  <title>Celebze</title>

  <script src="https://kit.fontawesome.com/ca1225a5a4.js" crossorigin="anonymous"></script>

</head>

<body>
  <!-- header -->
  <div class="header">
    <nav class="navbar customNav navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"> <img src='images/logo.png' class='logo'></img></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/category">Category <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hiw">How It Works</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/your-bookings" tabindex="-1" aria-disabled="true">Find Your Bookings</a>
          </li>
        </ul>

        <a href="/login" class="loginBtn">Login</a>
      </div>
    </nav>
  </div>