<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <meta
      name="description"
      content="Web site created using create-react-app"
    /> -->
  <link rel="stylesheet" href="css/owl.carousel.css">
  <!-- <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css"> -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/tailwind.css">
  <title>Celebze</title>



  </head>
  <body>
<!-- header -->

<div class="head">

  <header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

        <img src='images/logo.png' class='logo'></img>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href='/' class="mr-5 mx-5 nav-links text-transform: uppercase;">Category</a>
        <a href='/' class="mr-5 mx-5 nav-links text-transform: uppercase;">How It Works</a>
        <a href='/' class="mr-5 mx-5 nav-links text-transform: uppercase;">Find Your Bookings</a>
      </nav>
      <button
        class="nav-button inline-flex items-center  border-0 login-btn focus:outline-none hover:bg-opacity:.7">Login
      </button>
    </div>
  </header>
</div>
