<%- include ("./partials/header") ; %>

<section class="booking-section">
    <div class="row no-gutters">
        <div class="col-lg-6">

            <div class="left-section">
                
            <div class="row no-gutters">
                <div class="col-lg-8">
                    <div class="main-card">
    
                        <img src= 'images/shefali3.jpg'></img>
        
                        <div class="celeb-details">
                        <h1 class='celeb-name'>Shefali Bagga</h1>
                        <h3 class="celeb-tag">Journalist and Anchor</h3>
        
                        <div class="underline"></div>
        
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="other-card">
    
                        <img src= 'images/shefali1.jpg' ></img>
        
                        <div class="celeb-details">
                        <h4 class='celeb-name'>Shefali Bagga</h4>
                        <h6 class='m-0 celeb-tag'>Journalist and Anchor</h6>
                
                        </div>
                    </div>

                    <div class="other-card">
    
                        <img src= 'images/shefali2.jpg' ></img>
        
                        <div class="celeb-details">
                        <h4 class='celeb-name'>Shefali Bagga</h4>
                        <h6 class='m-0 celeb-tag'>Journalist and Anchor</h6>

        
                        </div>
                    </div>
                </div>
            </div>    




    
            <div >
                <h5 class='artist-info'>Follow me on</h5>
     
                <div class='flex'>
                <a href='/'>
                <i class="fab fa-facebook-square celeb-smi"></i>
                </a>
                <a href='/'>
                <i class="fab fa-instagram celeb-smi"></i>
                </a>
                <a href='/'>
                <i class="fab fa-twitter-square celeb-smi"></i>
                </a>
    
                </div>
                
            </div>
    
            <div>
    
            </div class='artist'>
                <h5 class='my-4 artist-info' >Sample Video</h5>
                <div class="position-relative">
                <img src=images/shefali3.jpg class="video-img"></img>
                <i class="fas fa-play play-icon"></i>
            </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="right-section">
                <div class="celebs-reg-form">
    
                    <h1 class='my-2'>
                    Shefali Bagga
                    </h1>
                    <p>Bigg Boss 13 Contestant 
                    Shefali Bagga is a well-known journalist and anchor and has worked for several renowned news channels, she is one of the leading journalists in India and is inspiring individuals to work hard in their life to become successful. She is a participant of Salman Khan’s show Bigg Boss 13. She started her journey as a journalist when she joined the Times of India as an intern. It was in 2016 when Shefali Bagga turned into a professional journalist at TV Today Network Limited. Besides, this she is also a producer and an anchor at the popular news channel Tez. She even hosted several shows on many news channels. Before entering the Bigg Boss House, she was hosting entertainment, general news, and a few shows for popular Aajtak’s sports channel Sports Tak. She is not only an anchor and journalist, but also a vlogger. She has started her Youtube channel by the name of Shefali Bagga and uploads videos related to fashion, traveling, and beauty </p>
                                        
                    <button class="km-btn inline-flex items-center my-6 border-0 py-1 px-3 focus:outline-none ">Know More
                        </button>
    
                    <h5 class="my-3">Video Bite : 1500/-</h5>
                    <h5 class="my-3">Live session : 5000/-</h5>
                    <h5 class="my-3">DM on Instagram : 1000/-</h5>
    
    
                    <form>
    
                    <div class="input-box my-4">
                        <label for="video-time" >
                            <h4>This Video Call for</h4></label>
                        <div>
                           <input id="video-time" class='inputs' placeholder="From" variant='outlined' />
                           <input id="video-time" class='inputs' placeholder="To" variant='outlined' />
                        </div>
                    </div>
                    <div class="input-box my-4">
                        <label><h4>Program Date/Time</h4></label>
                        <div>
                             <input class='inputs' placeholder="Date" variant='outlined' />
                             <input class='inputs' placeholder="HH:MM:SS" variant='outlined' />
           
                        </div>
                    </div>
                    <div class="input-box my-4">
                        <label><h4>Want Celebrity For -</h4></label>
                        <div class="d-flex">
                            <div class="m-3">
                                <input type="checkbox" class='check-inputs' name="video-bite"  />
                                <label for="">Video Bite</label>
                            </div>
                            <div class="m-3">
                                <input type="checkbox" class='check-inputs' name="live-session" />
                                <label for="">Live session</label>
                            </div>
                            <div class="m-3">
                                <input type="checkbox" class='check-inputs' name="Dm-on-insta" />
                                <label for="">DM on Instagram</label>   
                            </div>
                        </div>
                    </div>
                    <div class="input-box my-4 ">
                        <label><h4>Your Message</h4></label>
                        <div>
                             <input class='inputs' type="textarea">
                        </div>
                    </div>
    
                    <div >
                        <button class="book-now-btn btn " type="submit">Book Now</button>
                    </div>
    
                    </form>
    
    
                </div>
                
    
            </div>
        </div>
    </div>
</section>



<%- include ("./partials/footer") ; %>
