<%- include ("./partials/header") ; %>

<section class="category">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-4 ">
        
            <div class="category-left">
            <div class="feature-section-details">
                <h3>Featured</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nisi, voluptate non at dignissimos consequatur explicabo quo illo quidem enim deserunt nemo distinctio nostrum, esse minus com</p>
            </div>
            <div class="category-buttons">
                <div>
                    <a href="">
                        <button class="btn category-btns active">
                            All Categories
                        </button>
                    </a>
                </div>
                <div>
                    <a href="">
                        <button class="btn category-btns">
                            Featured
                        </button>
                    </a>
                </div>
                <div>
                    <a href="">
                        <button class="btn category-btns">
                            Movie Star - Hindi
                        </button>
                    </a>
                </div>
                <div>
                    <a href="">
                        <button class="btn category-btns">
                            Movie Star - Tamil 
                        </button>
                    </a>
                </div>
                <div>
                    <a href="">
                        <button class="btn category-btns">
                            Movie Singer - Hindi 
                        </button>
                    </a>
                </div>
            </div>

            </div>

        </div>
        <div class="col-lg-8 col-md-8">
            <div class="category-right">
            <div class="d-flex justify-content-center">
                <div class="w-80">
                
                    <div class="row no-gutters">
                        <div class="col-lg-4 col-md-4">
                            <div class="category-card-1">
        
                                <img src= 'images/shefali1.jpg'></img>
                
                                <div class="celeb-details">
                                    <h3 class='celeb-name'>Shefali Bagga</h3>
                                    <h5 class="celeb-tag">Journalist and Anchor</h5>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="category-card-1">
        
                                <img src= 'images/shefali2.jpg'></img>
                
                                <div class="celeb-details">
                                <h3 class='celeb-name'>Shefali Bagga</h3>
                                <h5 class="celeb-tag">Journalist and Anchor</h5>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="category-card-1">
        
                                <img src='images/shefali1.jpg'></img>
                
                                <div class="celeb-details">
                                    <h3 class='celeb-name'>Shefali Bagga</h3>
                                    <h5 class="celeb-tag">Journalist and Anchor</h5>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali1.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali2.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali2.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali1.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali1.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali2.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali2.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="category-card-2">
        
                                <img src= 'images/shefali1.jpg'></img>
                
                                <div class="celeb-details">
                                    <h4 class='celeb-name'>Shefali Bagga</h4>
                                    <h6 class="celeb-tag">Journalist and Anchor</h6>
                
                                <div class="underline"></div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
            
        </div>
    </div>
</section>






<%- include ("./partials/footer") ; %>
