<%- include ("./partials/header") ; %>

<!-- start here -->
<link rel="stylesheet" href="css/home.css">
<section class="homebanner">

  <div class="bannerwrapper">
    <img class="image1" src="images/1.png" alt="">
    <div class="center">
      <h1>Celebrate Your Birth Day With Celebrety.</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of
        the
        printing and typesetting industryLorem Ipsum is simply dummy text industry</p>
      <button>Book Now</button>
    </div>
    <img class="image2" src="images/3.png" alt="">
  </div>

</section>
<!-- Feature Section -->

<div class="feature-section">


  <div class="feature">

    <div class="flex justify-center">
      <h1 class="title p-2">Featured</h1>
    </div>

    <div class="owl-carousel owl-theme">
      <div class="item">
        <h4>1</h4>
      </div>
      <div class="item">
        <h4>2</h4>
      </div>
      <div class="item">
        <h4>3</h4>
      </div>
      <div class="item">
        <h4>4</h4>
      </div>
      <div class="item">
        <h4>5</h4>
      </div>
      <div class="item">
        <h4>6</h4>
      </div>
      <div class="item">
        <h4>7</h4>
      </div>
      <div class="item">
        <h4>8</h4>
      </div>
      <div class="item">
        <h4>9</h4>
      </div>
      <div class="item">
        <h4>10</h4>
      </div>
      <div class="item">
        <h4>11</h4>
      </div>
      <div class="item">
        <h4>12</h4>
      </div>
    </div>
  </div>

</div>






















<!-- footer -->


<div class="footer">
  <div class="footer-content">

    <footer class=" body-font">
      <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">

        <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">

          <div class="lg:w-1/4 md:w-1/2 w-full px-4">

            <img src='images/logo.png' class='logo'></img>


            <h2 class="title-font font-medium text-white-900 tracking-widest text-sm mb-3 uppercase">Address</h2>
            <nav class="list-none mb-10">
              <li>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </h5>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white-900 tracking-widest text-sm mb-3 uppercase">Quick Links</h2>
            <nav class="list-none mb-10">
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Home</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Login</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">My Bookings</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Enroll As Celebrity</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white-900 tracking-widest text-sm mb-3 uppercase">Follow Us</h2>
            <nav class="list-none mb-10">
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Facebook</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Instagram</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Twitter</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Google</a>
              </li>
            </nav>
          </div>

          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white-900 tracking-widest text-sm mb-3">Quick Links</h2>
            <nav class="list-none mb-10">
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Home</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Login</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">My Bookings</a>
              </li>
              <li>
                <a href='/' class="text-white-600 hover:text-white-800 uppercase">Enroll As Celebrity</a>
              </li>
            </nav>
          </div>


        </div>
      </div>
    </footer>
  </div>
</div>

<script src="js/jquery-plugin.js"></script>
<script src="plugin/owl-carousel/dist/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 5
        }
      }
    })
  });
</script>













<%- include ("./partials/footer") ; %>