<%- include ("./partials/header") ; %>

<!-- start here -->
<link rel="stylesheet" href="css/home.css">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bannerwrapper">
        <img class="image1" src="images/1.png" alt="">
        <div class="center">
          <h1>Celebrate Your Birth Day With Celebrety.</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text
            of
            the
            printing and typesetting industryLorem Ipsum is simply dummy text industry</p>
            <a href="/bookingsection">
              <button>Book Now</button>
            </a>
        </div>
        <img class="image2" src="images/3.png" alt="">

      </div>


    </div>
    <div class="carousel-item">
      <div class="bannerwrapper">
        <img class="image1" src="images/1.png" alt="">
        <div class="center">
          <h1>Celebrate Your Birth Day With Celebrety.</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text
            of
            the
            printing and typesetting industryLorem Ipsum is simply dummy text industry</p>
            <a href="/bookingsection">
              <button>Book Now</button>
            </a>
        </div>
        <img class="image2" src="images/3.png" alt="">

      </div>


    </div>
    <div class="carousel-item">
      <div class="bannerwrapper">
        <img class="image1" src="images/1.png" alt="">
        <div class="center">
          <h1>Celebrate Your Birth Day With Celebrety.</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text
            of
            the
            printing and typesetting industryLorem Ipsum is simply dummy text industry</p>
            <a href="/bookingsection">
              <button>Book Now</button>
            </a>
        </div>
        <img class="image2" src="images/3.png" alt="">

      </div>


    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section class="homebanner">

  <div class="threeStarWrapper">
    <div class="threeStar ">
      <img src="images/shefali.jpg" alt="">
      <img src="images/dj-pash.jpg" alt="">
      <img src="images/Dj-Zuby.jpeg" alt="">
    </div>
  </div>

  <section class="bannerfooter container">
    <div class="row">
      <div class="col-md-3">
        <h1>Heading</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's
          standard dummy text ever since the 1500s, when an Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, w</p>
      </div>
      <div class="col-md-7">
        <div class="container bannerfooterCard">
          <div class="row">
            <div class="col-8">
              <div class="card bigCard h-auto">
                <img src="images/shefali.jpg" class="card-img-top " alt="...">
                <div class="card-body px-0">
                  <p class="card-text celebName mb-0">Shefali Bagga</p>
                  <span class="card-text celebTag">TV Actor</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card smallCard">
                <img src="images/shefali.jpg " class="card-img-top h-auto" alt="...">
                <div class="card-body px-0">
                  <p class="card-text celebName mb-0">Shefali Bagga</p>
                  <span class="card-text celebTag">TV Actor</span>
                </div>
              </div>
              <div class="card smallCard">
                <img src="images/dj-pash.jpg" class="card-img-top h-auto" alt="...">
                <div class="card-body px-0">
                  <p class="card-text celebName mb-0">Dj Pasha Doll</p>
                  <span class="card-text celebTag">DJ</span>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <img src="" alt="">

  </section>
</section>
<!-- Feature Section -->

<section class="feature-section">


  <div class="feature">
    <div class="sliderSection mt-3">

      <div class="flex justify-center">
        <h1 class="title text-center p-2">Featured</h1>
      </div>

      <div class="owl-carousel owl-theme mt-3">

        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/shefali.jpg" class="card-img-top" alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Shefali Bagga</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>

        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/dj-pash.jpg" class="card-img-top" alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Dj Pasha Doll</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/Dj-Zuby.jpeg" class="card-img-top " alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Dj Zuby</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>

      </div>
      <div class="d-flex justify-content-center">
        <a href="/categories" class="btn viewMoreBtn">View More</a>
      </div>
    </div>
  </div>

  <div class="feature">
    <div class="sliderSection mt-3">

      <div class="flex justify-center">
        <h1 class="title text-center p-2">TV Actors</h1>
      </div>

      <div class="owl-carousel owl-theme mt-3">

        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/shefali.jpg" class="card-img-top" alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Shefali Bagga</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>

        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/dj-pash.jpg" class="card-img-top" alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Dj Pasha Doll</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/Dj-Zuby.jpeg" class="card-img-top " alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Dj Zuby</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="d-flex justify-content-center">
        <a href="/categories" class="btn viewMoreBtn">View More</a>
      </div>
    </div>
  </div>

  <div class="feature">
    <div class="sliderSection mt-3">

      <div class="flex justify-center">
        <h1 class="title text-center p-2">DJ</h1>
      </div>

      <div class="owl-carousel owl-theme mt-3">

        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/shefali.jpg" class="card-img-top" alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Shefali Bagga</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/dj-pash.jpg" class="card-img-top" alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Dj Pasha Doll</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/bookingsection">
          <div class="item">
            <div class="card bigCard h-auto">
              <img src="images/Dj-Zuby.jpeg" class="card-img-top " alt="...">
              <div class="card-body px-0">
                <p class="card-text celebName mb-0">Dj Zuby</p>
                <span class="card-text celebTag">TV Actor</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="d-flex justify-content-center">
        <a href="/categories" class="btn viewMoreBtn">View More</a>
      </div>
    </div>
  </div>


</section>


<!-- display section -->

<section>

  <div class="display">

    <div class="img1">
      <img src="images/img1.png" alt="">
    </div>
    <div class="img2">
      <img src="images/img2.png" alt="">
    </div>
    <div class="img3">
      <img src="images/img3.png" alt="">
    </div>
    <div class="img4">
      <img src="images/img4.png" alt="">
    </div>
    <div class="img5">
      <img src="images/img5.png" alt="">
    </div>

    <div class="ds-details">
      <h1 class="dsTitle">
        Heading
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quas repellendu</p>
    </div>

  </div>

</section>
















<%- include ("./partials/footer") ; %>