<%- include ("./partials/header") ; %>
<div class="howItWork">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto py-5">
                <div class="mainWrapper">
                    <h1 class="my-4 text-uppercase text-center">How It Works</h1>
                    <div class="rowCardWrapper">
                        <div class="rowCard">
                            <div class="">

                            </div>
                        </div>
                        <div class="rowCardArrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/footer") ; %>