<%- include ("./partials/header") ; %>

<section class="">

    <div class="your-booking">

        <div class="row">
                       
            <div class="col-lg-6 col-md-6">
                <div class="d-flex justify-content-center ">
                    <div class="user-details">
                        
                        <i class="fas fa-user-circle user-circle"></i>
                        
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="User name">
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control" placeholder="user@gmail.com">
                              </div>
                        </form>

                        <div class="tnc">
                            <div class="w-80">
                                <h5>Terms and Condition</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veritatis, animi reprehenderit ipsam harum odit. Blanditiis quisquam ipsam facilis possimus delectus dolor recusandae sequi inventore repudiandae et? Quia, consectetur exercitationem.</p>
                            </div>
                        </div>

                    </div>        
                </div> 
                        
            </div>


        <div class="col-lg-6 col-md-6 text-center p-4 booking-right">
                
        <h3>Your Booking</h3>

        <div class="d-flex justify-content-center">    
            <div class="booking-confirmation-card m-3">
                    
                <div class="row"> 
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="booking-datails">
                        <div>
                            <ul class="details-ul">
                                <li><h4>Sep</h4></li>
                                <li><h4>22</h4></li>
                                <li><h6>2020</h6></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0 ">
                        <div class="booking-status">
                            <div class="booking-info">
                                <div >
                                    <h4>User name</h4>
                                    <div class="p-2">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus illum assumenda ex cum dignissimos at accusamus atque asperiores, tenetur ipsam ist</p>
                                    </div>
                                </div>
                            </div>
                            <h5>Done</h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="d-flex justify-content-center">    

            <div class="booking-confirmation-card m-3">
                    
                <div class="row"> 
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="booking-datails">
                        <div>
                            <ul class="details-ul">
                                <li><h4>Sep</h4></li>
                                <li><h4>22</h4></li>
                                <li><h6>2020</h6></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0 ">
                        <div class="booking-status d-flex">
                            <div class="booking-info">
                                <div >
                                    <h4>User name</h4>
                                    <div class="p-2">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus illum assumenda ex cum dignissimos at accusamus atque asperiores, tenetur ipsam ist</p>
                                    </div>
                                </div>
                            </div>
                            <h5>Done</h5>

                        </div>
                    </div>

                </div>

            </div>
        </div>    

        <div class="d-flex justify-content-center">    

            <div class="booking-confirmation-card m-3">
                    
                <div class="row"> 
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="booking-datails">
                        <div>
                            <ul class="details-ul">
                                <li><h4>Sep</h4></li>
                                <li><h4>22</h4></li>
                                <li><h6>2020</h6></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0 ">
                        <div class="booking-status">
                            <div class="booking-info">
                                <div >
                                    <h4>User name</h4>
                                    <div class="p-2">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus illum assumenda ex cum dignissimos at accusamus atque asperiores, tenetur ipsam ist</p>
                                    </div>
                                </div>
                            </div>
                            <h5>Done</h5>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        </div>

        </div>
     
    </div>    

</section>


<%- include ("./partials/footer") ; %>