@import url('./login.css');
@import url('./your_bookings.css');



body{
    margin: 0;
    padding: 0;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-100,.w-full{
    width: 100%;
}

h1,h2,h3,h4,h5,h6,h7{
    margin: 0;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
footer{
    padding: 50px;
}
footer a{
    color: #e4e4e4;
}
.customNav{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #181C37;
    border-radius: 0 0 45px 45px;
    color: #ffffff;
    box-shadow:   20px 20px 33px hsl(0, 0%, 33%), 
    -20px -20px 33px #656565;
}
.customNav .nav-link{
    color: #ffffff!important;
}
.customNav .nav-link:hover{
    color: #f5f5f5!important;
}
.customNav .loginBtn{
    background: transparent linear-gradient(93deg, #FFAC00 0%, #FF7600 100%) 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 20px 38px;
}
.logo{
    width: 80px;
}
.booking-section{
    background-color: #DCDCDC;
}
.left-section,.right-section{
    padding: 10%;
}
.main-card{
    width: 80%;
    height: 500px;
    padding: 20px;
    background-color: #ffffff;
    
}
.main-card img{
    width: 100%;
    height: 70%; 
    object-fit: cover; 
object-position: center;

}
.underline{
    position: relative;
    top: 10px;
    height: 5px;
    width: 150px;
    background-color: #000;
    margin: 0;
    
}
.main-card h1{
    margin: 8px 0;
}
.other-card{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ffffff;
    height: 243px;
}
.other-card img{
    width: 100%;
    height: 65%;
    object-fit: cover;  
object-position: center;
}
.other-card .underline{
    position: relative;
    bottom: 50px;
    height: 3px;
    width: 50px;
    background-color: #000; 
}
.inputs{
    height: 30px;
    margin: 10px!important;
    border-color: #000000!important;
    color: #FFA900!important;
}
.input-box{
    margin: 30px 0;
}
.footer{
    background-color: #181C37;
    color: #ffffff;
}
/* footer{
    color: #ffffff;
} */
.km-btn{
    background: #FFA900 0% 0% no-repeat padding-box;
    border-radius: 36px;
    opacity: 1;
    color: #000000;
    padding: 5px 20px;
}
.celeb-smi{
    font-size: 3rem!important;
    color: #fff;
    margin: 10px;
}
.artist{
    position: relative;
}
.play-icon{
    position: absolute;
    color: #ffffff;
    font-size: 2rem!important;  
    bottom: 170px;
    left: 280px;
}
.artist-info{
    color: #fff;
    margin: 15px 0;
}
.video-img{
    border-radius: 10px;
    width: 450px;
    height: 200px;
    object-fit:cover;
    object-position: top;
}

